<div class="content-wrapper" style="width: 80vw">
  <div class="content">
    <div class="col-lg-19" style="width: 100%">
      <div class="card card-default" style="width: 100%">
        <div class="card-header card-header-border-bottom">
          <h2>Default Tabs</h2>
        </div>

        <div class="card-body">
          <p class="mb-5">
            Takes the basic nav and adds the <code>.nav-tabs</code> class to
            generate a tabbed interface. Use them to create tabbable regions
            with our tab
            <a
              href="https://getbootstrap.com/docs/4.6/components/navs/#javascript-behavior"
              target="_blank"
              >JavaScript plugin.</a
            >
          </p>

          <div class="tab-content" id="myTabContent1">
            <div
              class="tab-pane pt-3 fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.
            </div>

            <div
              class="tab-pane pt-3 fade"
              id="profile"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
              hola.
            </div>

            <div
              class="tab-pane pt-3 fade"
              id="contact"
              role="tabpanel"
              aria-labelledby="contact-tab"
            >
              Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
