<div class="content-wrapper">
  <div class="content">
    <div class="col-lg-19">
      <div class="card card-default">
        <div class="card-header card-header-border-bottom">
          <h1 style="color: black">Plagas</h1>
        </div>

        <div class="card-body">
          <h3 style="color: black">Informacion sobre las plagas</h3>
          <br />
          <p>
            Se llama plaga a cualquier ser vivo que resulta perjudicial para
            otro ser vivo de interés para el ser humano. Existen plagas de
            interés sanitario, tales como los vectores de enfermedades humanas y
            animales, tales como, mosquitos, pulgas o garrapatas, y las plagas
            agrícolas que afectan las plantas cultivadas, así como las cosechas,
            ya sean frescas o almacenadas.
          </p>
          <div class="tab-content" id="myTabContent1">
            <div
              *ngFor="let item of subCategories.sub"
              class="tab-pane pt-3 fade"
              id="{{ item.name }}"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <h3 style="color: black">{{ item.tipo }}</h3>
              <div
                class="card card-default"
                style="border: 0"
                *ngIf="item.name == 'Informacion'"
              >
                <div class="card-body">
                  <div class="row">
                    <div
                      class="col-md-10 col-xl-6"
                      *ngFor="let item of informacion"
                    >
                      <div class="card mb-4">
                        <img
                          class="card-img-top"
                          src="assets/img/elements/cc1.jpg"
                        />

                        <div class="card-body">
                          <h5 class="card-title text-primary">
                            {{ item.nombre }}
                          </h5>

                          <p class="card-text pb-3">
                            <span style="color: black; font-weight: 500"
                              >Nombre cientifico:</span
                            >
                            {{ item.nombre_cientifico }}
                            <br />
                            <span style="color: black; font-weight: 500"
                              >Forma de controlar:</span
                            >
                            {{ item.forma_control }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="card card-default"
                style="border: 0"
                *ngIf="item.name == 'Estadisticas'"
              >
                <div
                  class="card-body"
                  style="
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                  "
                >
                  <h4>Conteo apareciones de plagas.</h4>
                  <app-grafica-torta
                    [pieChartDatasets]="pieChartDatasets"
                    [pieChartLabels]="pieChartLabels"
                  ></app-grafica-torta>
                  <br />
                  <h4>Conteo por apareciones en cultivos.</h4>
                  <app-grafica-barras
                    [labelsInfo]="pieChartLabels"
                    [infonumber]="infoData"
                  ></app-grafica-barras>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
